@tailwind base;
@tailwind components;
@tailwind utilities;


/* -------------All Custom Fonts--------- */
@font-face {
    font-family: 'nirmala'; 
    src: url('./fonts/nirmala.ttf') format('ttf'); 
    font-weight: normal;
    font-style: normal;
  }

  .fontNirmala{
    font-family: 'nirmala', sans-serif;
  }

@font-face {
    font-family: 'solaimanLipi'; 
    src: url('./fonts/SolaimanLipi.ttf') format('ttf'); 
    font-weight: normal;
    font-style: normal;
  }
  

  .fontSolaimanLipi{
    font-family: 'solaimanLipi', sans-serif;
  }



/*------ Styles for smooth transition------------ */
.transition-navbar {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navbar-visible {
  opacity: 1;
  transform: translateY(0);
}