@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------All Custom Fonts--------- */
@font-face {
  font-family: "nirmala";
  src: url("./fonts/nirmala.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.fontNirmala {
  font-family: "nirmala", sans-serif;
}

@font-face {
  font-family: "solaimanLipi";
  src: url("./fonts/SolaimanLipi.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.fontSolaimanLipi {
  font-family: "solaimanLipi", Arial, sans-serif;
}

/* ------------Section Title Style------------- */

.section-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-left: 18px solid #6669a7e5;
  border-top: 36px solid transparent;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  padding: 2px 6px;
  color: red !important;
 
}
